.button01{
    background-color: #c2b7b7;
    color: white;
    text-decoration: none;
    padding: 50px 50px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
}
.button01 .button02 {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-top-left-radius: 50%;
    background: red;
    color: white;
  }