*{
    padding: 0px;
    border: 0px;
    box-sizing: 0px;
}
.class{
    position: relative;
    background-size: 100%;
    font-family: sans-serif;
    line-height: 50px;
}
.class1{
    position: absolute;
    display: flex;
    flex-direction: column;
}
.class01{
    border: 1px white solid;
    width: 50px;
    height: 50px;
    background-color: orange;
    border-radius: 10%;
    gap: 10px;
    text-align: center;
}
.class2{
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    left: 60px;
}
.class02{
    border: 1px white solid;
    width: 50px;
    height: 50px;
    background-color: orange;
    border-radius: 10%;
    gap: 10px;
    text-align: center;
}
.class3{
    position: absolute;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 210px;
    left: 120px;
}
.class03{
    border: 1px white solid;
    width: 50px;
    height: 50px;
    background-color: orange;
    border-radius: 10%;
    gap: 10px;
    text-align: center;
}
.class4{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 262px;
    left: 120px;
}
.class04{
    border: 1px white solid;
    width: 50px;
    height: 50px;
    background-color: orange;
    border-radius: 10%;
    gap: 10px;
    text-align: center;
}